* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.layout {
  height: auto;
  min-height: 100%;
}

.sidebar {
  float: left;
  min-width: 17%;
}

.main {
  margin: 0 0 0 17%;
  width: 83%;
}

.header {
  background: #f7f7f7;
  border-bottom: 3px solid #f3f3f3;
}

.footer {
  background: #F00;
  clear: both;
  color: #FFF;
  height: 30px;
  margin-top: -30px;
  overflow: hidden;
  position: relative;
}