* {
	margin: 0;
	padding: 0;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif
}

html, body {
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.layout {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	min-height: 100%;
	background-image: url("../img/macwall.jpg");
	background-size: cover
}

.sidebar {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font: 12px normal;
	float: left;
	width: 220px;
	height: 90%;
	background-color: #DFE4EA;
	border-right: 1px solid #C8CBD2;
	border-bottom: 1px solid #C8CBD2;
	margin-bottom: 10px;
	padding: 5px;
	overflow: hidden
}

.main {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 90%;
	width: auto;
	overflow: auto;
	padding-left: 10px;
	background-color: #FFF;
	border-bottom: 1px solid #C8CBD2;
	padding: 5px
}

.window_container {
	position: fixed;
	left: 50px;
	width: 70%;
	height: 80%;
	margin: 1% auto;
	min-height: 250px
}

.window {
	height: 85%;
	border-top: 1px solid #333;
	border-left: 1px solid #8A8A8A;
	border-right: 1px solid #8A8A8A;
	border-bottom: 1px solid #8A8A8A;
	background-color: #E6E6E6
}

.wintitle {
	height: 20px;
	background: #979797;
    background: -moz-linear-gradient(bottom, #979797, #C4C4C4); 
    background: -webkit-gradient(linear, left bottom, left bottom, 
                color-stop(0%,#979797), color-stop(100%,#C4C4C4));
    background: -webkit-linear-gradient(bottom, #979797, #C4C4C4);
    background: -o-linear-gradient(bottom, #979797, #C4C4C4); 
    background: -ms-linear-gradient(bottom, #979797, #C4C4C4); 
    background: linear-gradient(bottom, #979797, #C4C4C4);
    border-top: 1px solid #8A8A8A;
	border-left: 1px solid #8A8A8A;
	border-right: 1px solid #8A8A8A;
	border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	padding-left: 7px
}

.wintitle_text {
	position: absolute;
	width: 90%;
	text-align: center
}

.date {
	float: right;
	padding: 1px 10px 0 0
}

.ya {
	width: 16px;
	height: 16px;
	float: left;
	margin: 2px 0 0 10px;
	cursor: pointer;
	background-image: url("../img/ya.png");
	background-repeat: no-repeat
}

.aboutme {
	width: 16px;
	height: 16px;
	float: right;
	margin: 2px 5px 0 10px;
	cursor: pointer;
	background-image: url("../img/aboutme.png");
	background-repeat: no-repeat
}

.winbutton {
	display: inline;
	margin: 3px 2px 0 0
}

.header {
	height: 20px;
	opacity: 0.8;
	filter: alpha(opacity=0.8);
	background: #95979B;
    background: -moz-linear-gradient(bottom, #95979B, #C5C7CE);
    background: -webkit-gradient(linear, left bottom, left bottom, 
                color-stop(0%,#95979B), color-stop(100%,#C5C7CE));
    background: -webkit-linear-gradient(bottom, #95979B, #C5C7CE);
    background: -o-linear-gradient(bottom, #95979B, #C5C7CE); 
    background: -ms-linear-gradient(bottom, #95979B, #C5C7CE); 
    background: linear-gradient(bottom, #95979B, #C5C7CE);
    border: 1px solid #737373
}

.footer {
	background: #FFF;
	clear: both;
	color: #FFF;
	height: 210px;
	margin-top: -210px;
	overflow: hidden;
	position: relative
}

.tab {
	display: none
}

.tedit {
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	padding: 1px 4px 1px 4px;
	margin: 5px;
	outline: none;
	border: 1px solid #ccc
}

.tlable {
	margin: 5px;
	padding: 5px
}

.tlable1 {
	font-size: 9px;
	color: #A0A8B4;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 5px;
	margin: 5px
}

.tlable2 {
	margin: 5px;
	padding: 5px;
	color: #fff;
	font-size: 13px
}

.tlable3 {
	margin: 5px;
	padding: 5px;
	font-size: 14px;
	color: #fff
}

.tlable4 {
	padding: 0 4px;
	font-size: 14px;
	cursor: pointer;
	float: left;
	height: 21px;
}

.tlable4:hover {
	background-color: #3770C0;
	color: #fff
}

.modifyLink {
	text-decoration: underline;
	cursor: pointer
}

.tbutton {
	height: 23px;
	border: 1px solid #ccc;
	background: #fff;
	color: #666;
	border-radius: 5px;
	box-shadow: 0 0 2px #ccc;
	margin: 5px;
	cursor: pointer
}

.ok-dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	color: red;
	padding-top: 30px;
	opacity: 0.8;
	filter: alpha(opacity=0.8);
	z-index: 100500
}
	
.infoTip {
	opacity: 0.8;
	filter: alpha(opacity=0.8);
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	background-color: #80A5D0;
	padding: 10px;
	position:fixed;
	width: 20%;
	margin: 1% auto;
	left: 76%;
	z-index:5
}

.file-load-block {
	width: 310px;
	height: 25px;
	padding-top: 3px;
	position: relative;
	overflow: hidden
}

.file-load-block input[type=file] {
	opacity: 0;
	filter: alpha(opacity=0);
 	position: absolute;
	top: 0;
	right: 0;
	font-size: 100px;
	z-index: 20;
	cursor: pointer;
	width: auto;
	padding: 10px
}

.file-load-block input[type=text] {
	margin: 0 5px;
	z-index: 1;
	width: 190px;
	padding-right: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}
.file-load-block button {
	margin: 0 5px;
	height: 23px
}

.file-button {
	position: absolute;
	right: 0;
	width: 90px
}

.file-load-block .button-hover {
	box-shadow: inset 0 2px 2px #ccc
}

#calendar {
	padding-top: 10px;
	width: 100%
}

/* Модификаторы. Сделаем БЭМ ближе :) */

.file-button {
	position: absolute;
	right: 0;
	width: 90px
}

.fine-margin {
	margin: 10px 2px
}

.click-cursor {
	cursor: pointer
}

.size-evtname {
	width: 400px
}

.size-lector {
	width: 250px
}

.size-tezis {
	width: 400px;
	height: 150px
}

.size-export {
	width: 500px;
	height: 300px
}

.size-time {
	width: 50px
}

.size-time:focus {
		background-color: #ccc
}

.hidden {
	display: none
}

.block {
	display: block
}

.inline {
	list-style: none;
	margin-left: 20px
}

.expand_window {
	position: fixed;
	top: 5px !important;
	left: 0 !important;
	float: left;
	width: 100%;
	height: 100%
}

/* Версия для печати */


.printer {
	margin: 0 auto
}

.print_row {
	display: block;
	border: 1px solid black;
	padding: 4px 6px;
	margin: 2px
}

.print_row_title {
	width: 65%;
	float: left
}

.lector {
	font-size: 10px
}